* {
    background-color: lightgray;
    font-family: 'Pixelify Sans', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    color: black;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container img {
    width: 400px;
    height: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}