* {
    background-color: lightgray;
    font-family: 'Pixelify Sans', sans-serif;
    color: black;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

.header, .logo-container, .score-container, .score-book-container, #inner-score-container,
.main-container, .table-container, .buttons-container, #result-text, #result-text-bottom {
    display: flex;
    align-items: center;
}

.header, .logo-container {
    justify-content: space-around;
}

.logo-container img {
    width: 15vw;
    height: auto;
}

.score-container, .score-book-container, .main-container, .table-container #result-text, #result-text-bottom,
.buttons-container {
    justify-content: center;
}

.score-container, .main-container {
    flex-direction: column;
}

.score-book-container img {
    width: 10vw;
    height: auto;
}

#inner-score-container, #player-score, #computer-score, #player-score p, #computer-score p,
#result-container, #result-container img {
    background-color: transparent;
}

#inner-score-container {
    justify-content: center;
    width: 5vw;
    gap: 2vw;
    position: absolute;
    margin-right: 4vw;
}

#result-text-container {
    height: 10vh;
}

#result-text-bottom {
    margin-bottom: 2vw;
    margin-top: .3vw;
}

.table-container {
    margin-bottom: 2vw;
}

.table-container img {
    width: 20vw;
    height: auto;
}

#result-container {
    position: absolute;
    margin-bottom: 8vw;
    margin-left: 7vw;
}

#result-container img {
    width: 5vw;
    height: auto;
}

.buttons-container {
    gap: 2vw;
}

.buttons-container button {
    border: none;
}

.buttons-container img {
    width: 10vw;
    height: auto;
}

.buttons-container img:active {
    transform: scale(.99);
}